<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PointFlag.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,993},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{4,4}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>fight_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>fight_big_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,1323},{75,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,111}}</string>
                <key>sourceSize</key>
                <string>{75,111}</string>
            </dict>
            <key>fight_big_card_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1377},{75,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,111}}</string>
                <key>sourceSize</key>
                <string>{75,111}</string>
            </dict>
            <key>fight_big_card_d10.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,1317},{75,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,111}}</string>
                <key>sourceSize</key>
                <string>{75,111}</string>
            </dict>
            <key>fight_big_card_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,1247},{75,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,111}}</string>
                <key>sourceSize</key>
                <string>{75,111}</string>
            </dict>
            <key>fight_big_card_d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1193},{75,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,111}}</string>
                <key>sourceSize</key>
                <string>{75,111}</string>
            </dict>
            <key>fight_big_card_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1137},{75,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,111}}</string>
                <key>sourceSize</key>
                <string>{75,111}</string>
            </dict>
            <key>fight_big_card_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1106},{75,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,111}}</string>
                <key>sourceSize</key>
                <string>{75,111}</string>
            </dict>
            <key>fight_big_card_d6.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,1061},{75,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,111}}</string>
                <key>sourceSize</key>
                <string>{75,111}</string>
            </dict>
            <key>fight_big_card_d7.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1061},{75,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,111}}</string>
                <key>sourceSize</key>
                <string>{75,111}</string>
            </dict>
            <key>fight_big_card_d8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1301},{75,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,111}}</string>
                <key>sourceSize</key>
                <string>{75,111}</string>
            </dict>
            <key>fight_big_card_d9.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,1241},{75,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,111}}</string>
                <key>sourceSize</key>
                <string>{75,111}</string>
            </dict>
            <key>fight_big_card_x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1225},{75,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,111}}</string>
                <key>sourceSize</key>
                <string>{75,111}</string>
            </dict>
            <key>fight_big_card_x10.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,1171},{75,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,111}}</string>
                <key>sourceSize</key>
                <string>{75,111}</string>
            </dict>
            <key>fight_big_card_x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1061},{75,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,111}}</string>
                <key>sourceSize</key>
                <string>{75,111}</string>
            </dict>
            <key>fight_big_card_x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1030},{75,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,111}}</string>
                <key>sourceSize</key>
                <string>{75,111}</string>
            </dict>
            <key>fight_big_card_x4.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,985},{75,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,111}}</string>
                <key>sourceSize</key>
                <string>{75,111}</string>
            </dict>
            <key>fight_big_card_x5.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,985},{75,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,111}}</string>
                <key>sourceSize</key>
                <string>{75,111}</string>
            </dict>
            <key>fight_big_card_x6.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,985},{75,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,111}}</string>
                <key>sourceSize</key>
                <string>{75,111}</string>
            </dict>
            <key>fight_big_card_x7.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,954},{75,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,111}}</string>
                <key>sourceSize</key>
                <string>{75,111}</string>
            </dict>
            <key>fight_big_card_x8.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,878},{75,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,111}}</string>
                <key>sourceSize</key>
                <string>{75,111}</string>
            </dict>
            <key>fight_big_card_x9.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,802},{75,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,111}}</string>
                <key>sourceSize</key>
                <string>{75,111}</string>
            </dict>
            <key>fight_card_storage.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1187},{53,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,54}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>fight_down_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,642},{960,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,159}}</string>
                <key>sourceSize</key>
                <string>{960,159}</string>
            </dict>
            <key>fight_finger_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,857},{64,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,83}}</string>
                <key>sourceSize</key>
                <string>{64,83}</string>
            </dict>
            <key>fight_full_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,1040},{60,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,178}}</string>
                <key>sourceSize</key>
                <string>{60,178}</string>
            </dict>
            <key>fight_full_card_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1164},{60,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,178}}</string>
                <key>sourceSize</key>
                <string>{60,178}</string>
            </dict>
            <key>fight_full_card_d10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1103},{60,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,178}}</string>
                <key>sourceSize</key>
                <string>{60,178}</string>
            </dict>
            <key>fight_full_card_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1042},{60,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,178}}</string>
                <key>sourceSize</key>
                <string>{60,178}</string>
            </dict>
            <key>fight_full_card_d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1008},{60,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,178}}</string>
                <key>sourceSize</key>
                <string>{60,178}</string>
            </dict>
            <key>fight_full_card_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,979},{60,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,178}}</string>
                <key>sourceSize</key>
                <string>{60,178}</string>
            </dict>
            <key>fight_full_card_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,941},{60,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,178}}</string>
                <key>sourceSize</key>
                <string>{60,178}</string>
            </dict>
            <key>fight_full_card_d6.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,924},{60,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,178}}</string>
                <key>sourceSize</key>
                <string>{60,178}</string>
            </dict>
            <key>fight_full_card_d7.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,924},{60,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,178}}</string>
                <key>sourceSize</key>
                <string>{60,178}</string>
            </dict>
            <key>fight_full_card_d8.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,948},{60,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,178}}</string>
                <key>sourceSize</key>
                <string>{60,178}</string>
            </dict>
            <key>fight_full_card_d9.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,863},{60,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,178}}</string>
                <key>sourceSize</key>
                <string>{60,178}</string>
            </dict>
            <key>fight_full_card_x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,863},{60,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,178}}</string>
                <key>sourceSize</key>
                <string>{60,178}</string>
            </dict>
            <key>fight_full_card_x10.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,802},{60,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,178}}</string>
                <key>sourceSize</key>
                <string>{60,178}</string>
            </dict>
            <key>fight_full_card_x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,981},{60,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,178}}</string>
                <key>sourceSize</key>
                <string>{60,178}</string>
            </dict>
            <key>fight_full_card_x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,920},{60,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,178}}</string>
                <key>sourceSize</key>
                <string>{60,178}</string>
            </dict>
            <key>fight_full_card_x4.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,918},{60,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,178}}</string>
                <key>sourceSize</key>
                <string>{60,178}</string>
            </dict>
            <key>fight_full_card_x5.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,857},{60,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,178}}</string>
                <key>sourceSize</key>
                <string>{60,178}</string>
            </dict>
            <key>fight_full_card_x6.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,802},{60,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,178}}</string>
                <key>sourceSize</key>
                <string>{60,178}</string>
            </dict>
            <key>fight_full_card_x7.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,769},{60,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,178}}</string>
                <key>sourceSize</key>
                <string>{60,178}</string>
            </dict>
            <key>fight_full_card_x8.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,590},{60,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,178}}</string>
                <key>sourceSize</key>
                <string>{60,178}</string>
            </dict>
            <key>fight_full_card_x9.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,411},{60,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,178}}</string>
                <key>sourceSize</key>
                <string>{60,178}</string>
            </dict>
            <key>fight_small_card _d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1215},{32,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,39}}</string>
                <key>sourceSize</key>
                <string>{32,39}</string>
            </dict>
            <key>fight_small_card _d10.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1182},{32,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,39}}</string>
                <key>sourceSize</key>
                <string>{32,39}</string>
            </dict>
            <key>fight_small_card _d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,1182},{32,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,39}}</string>
                <key>sourceSize</key>
                <string>{32,39}</string>
            </dict>
            <key>fight_small_card _d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1182},{32,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,39}}</string>
                <key>sourceSize</key>
                <string>{32,39}</string>
            </dict>
            <key>fight_small_card _d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,1203},{32,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,39}}</string>
                <key>sourceSize</key>
                <string>{32,39}</string>
            </dict>
            <key>fight_small_card _d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,1203},{32,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,39}}</string>
                <key>sourceSize</key>
                <string>{32,39}</string>
            </dict>
            <key>fight_small_card _d6.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1177},{32,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,39}}</string>
                <key>sourceSize</key>
                <string>{32,39}</string>
            </dict>
            <key>fight_small_card _d7.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,1170},{32,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,39}}</string>
                <key>sourceSize</key>
                <string>{32,39}</string>
            </dict>
            <key>fight_small_card _d8.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,1170},{32,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,39}}</string>
                <key>sourceSize</key>
                <string>{32,39}</string>
            </dict>
            <key>fight_small_card _d9.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1137},{32,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,39}}</string>
                <key>sourceSize</key>
                <string>{32,39}</string>
            </dict>
            <key>fight_small_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,1137},{32,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,39}}</string>
                <key>sourceSize</key>
                <string>{32,39}</string>
            </dict>
            <key>fight_small_card_x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,1137},{32,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,39}}</string>
                <key>sourceSize</key>
                <string>{32,39}</string>
            </dict>
            <key>fight_small_card_x10.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1297},{32,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,39}}</string>
                <key>sourceSize</key>
                <string>{32,39}</string>
            </dict>
            <key>fight_small_card_x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1264},{32,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,39}}</string>
                <key>sourceSize</key>
                <string>{32,39}</string>
            </dict>
            <key>fight_small_card_x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,1231},{32,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,39}}</string>
                <key>sourceSize</key>
                <string>{32,39}</string>
            </dict>
            <key>fight_small_card_x4.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,1198},{32,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,39}}</string>
                <key>sourceSize</key>
                <string>{32,39}</string>
            </dict>
            <key>fight_small_card_x5.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,975},{32,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,39}}</string>
                <key>sourceSize</key>
                <string>{32,39}</string>
            </dict>
            <key>fight_small_card_x6.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,942},{32,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,39}}</string>
                <key>sourceSize</key>
                <string>{32,39}</string>
            </dict>
            <key>fight_small_card_x7.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,909},{32,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,39}}</string>
                <key>sourceSize</key>
                <string>{32,39}</string>
            </dict>
            <key>fight_small_card_x8.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,876},{32,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,39}}</string>
                <key>sourceSize</key>
                <string>{32,39}</string>
            </dict>
            <key>fight_small_card_x9.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,843},{32,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,39}}</string>
                <key>sourceSize</key>
                <string>{32,39}</string>
            </dict>
            <key>fight_txt_finger_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,802},{245,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,40}}</string>
                <key>sourceSize</key>
                <string>{245,40}</string>
            </dict>
            <key>fight_up_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,802},{242,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,54}}</string>
                <key>sourceSize</key>
                <string>{242,54}</string>
            </dict>
            <key>fight_up_card_storage.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,1171},{41,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,26}}</string>
                <key>sourceSize</key>
                <string>{41,26}</string>
            </dict>
            <key>fight_userinfo_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,206},{204,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,60}}</string>
                <key>sourceSize</key>
                <string>{204,60}</string>
            </dict>
            <key>fight_userinfo_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,1},{204,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,60}}</string>
                <key>sourceSize</key>
                <string>{204,60}</string>
            </dict>
            <key>fight_userinfo_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,843},{204,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,76}}</string>
                <key>sourceSize</key>
                <string>{204,76}</string>
            </dict>
            <key>fight_userinfo_circle_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,1127},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>fight_wash_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,1101},{173,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,69}}</string>
                <key>sourceSize</key>
                <string>{173,69}</string>
            </dict>
            <key>oprate_chi0.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1137},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>oprate_close0.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,1120},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{70,72}</string>
            </dict>
            <key>oprate_hu0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1453},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>oprate_peng0.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,1393},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{104,108}</string>
            </dict>
            <key>phz_userinfoback1FG.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,920},{72,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,24}}</string>
                <key>sourceSize</key>
                <string>{72,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Sheet_Fight.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb46e004c2c5649639d4827df1a13c4d:c076dd394a7fb8f4dea77431f48f888f:476fcd4873c1984eefe6c7e206ec713e$</string>
            <key>textureFileName</key>
            <string>Sheet_Fight.png</string>
        </dict>
    </dict>
</plist>
